h1 {
    font-family: "Yanone Kaffeesatz", "system", sans-serif;
    color: #453d3d;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    font-family: "Yanone Kaffeesatz", "system", sans-serif;
    color: #453d3d;
    font-size: 24px ;
    font-weight: normal;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

img {
    width: 80px;
    height: 80px;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #453D3D; 
    height: 200px;
    width: 200px; 
}

button {
    background-color: #B32274;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: 0;  
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.children-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}






