body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #453D3D; 
}

p {
    display: flex; 
}

img {
    display: flex;
}

h2 {
    display: flex;
}

button {
    background-color: #B32274;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: 0;  
}






